/* Chinese Rocks Font - Hosted Locally */
@font-face {
    font-family: 'Chinese Rocks';
    src: url('fonts/ChineseRocks.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}